@model ProyectoBDD.Models.VueloPasajero

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
<div class="text-center">
    <p style="font-size:larger; color:red">@ViewData["Error"]</p>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>VueloPasajero</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idVueloPasajero)

        <div class="form-group">
            @Html.LabelFor(model => model.idVuelo, "idVuelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idVuelo", null, htmlAttributes: new { @disabled = "disabled" })
                @Html.HiddenFor(model => model.idVuelo)
                @Html.ValidationMessageFor(model => model.idVuelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPasajero, "idPasajero", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idPasajero", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPasajero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoAsiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoAsiento, new { htmlAttributes = new { @disabled = "disabled" } })
                @Html.HiddenFor(model => model.NoAsiento)
                @Html.ValidationMessageFor(model => model.NoAsiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoEstatus, "idTipoEstatus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoEstatus", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoEstatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
